.mastermind-main > * {
    display: block;
}

.mastermind-main {
    text-align: center;
    position: relative;
    top: 200px;
}

* {
    user-select: none;
}

hr {
    border: none !important;
    border-top: 1px solid rgb(122, 120, 120) !important;
    margin: 20px 0 !important;
}

#difficultySelect, #themeSelect {
    background-color: #333;
    color: white;
    border: 1px white solid;
    padding: 5px;
}
#showGamesBtn {
    background-color: #333;
    color: white;
    border: 1px white solid;
    padding: 5px 10px;
}
#leaderboard {
    position: absolute;
    right: 0;
    margin: 20px;
    padding: 40px;
    z-index: 9;
    background-color: #333;
    white-space: nowrap;
}

#bord {
    display: flex;
    justify-content: center;
}

#pinboard {
    border: 2px darkgreen solid;
    height: 500px;
    width: 300px;
    margin: 20px;
}

#pinboard > div {
    height: 10%;
    width: 100%;
    border: 1px black solid;
}

#pins {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.pin {
    height: 100%;
}

#pins > img {
    width: 40px;
    cursor: pointer;
}

.result-row {
    display: flex;
}

.dropzone {
    width: 20%;
    margin: 2.5%;
    height: 95%;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px black solid;
}

.misplaced {
    width: 40px;
    height: 40px;
    background-color: black;
    border: 1px white solid;
}