.minesweeper-main > * {
    display: block;
}

.minesweeper-main {
    margin: 200px 20px 20px 20px;
    text-align: center;
}

* {
    user-select: none;
}

hr {
    border: none !important;
    border-top: 1px solid rgb(122, 120, 120) !important;
    margin: 20px 0 !important;
}
body.game-won {
    animation: win-animation 3s ease-in-out forwards;
}
@keyframes win-animation {
    0% { transform: scale(1); background-color: transparent; }
    15% { transform: scale(1.05); background-color: rgb(112, 18, 9); }
    30% { transform: scale(1); background-color: transparent; }
    45% { transform: scale(1.05); background-color: rgb(112, 18, 9); }
    60% { transform: scale(1); background-color: transparent; }
    100% { transform: scale(1); background-color: rgb(9, 112, 9); }
}

#difficultySelect, #themeSelect {
    background-color: #333;
    color: white;
    border: 1px white solid;
    padding: 5px;
}
#showGamesBtn {
    background-color: #333;
    color: white;
    border: 1px white solid;
    padding: 5px 10px;
}
#leaderboard {
    position: absolute;
    right: 0;
    margin: 20px;
    padding: 40px;
    z-index: 9;
    background-color: #333;
    white-space: nowrap;
}

#bord {
    margin: 20px;
    background-color: rgba(128, 128, 128, 0.674);
    display: inline-block;
    white-space: nowrap;
}

.block {
    display: inline-block;
    text-align: center;
    background-color: lightgrey;
    width: 40px;
    height: 40px;
    line-height: 35px;
    border: 1px rgb(178, 178, 178) solid;
    position: relative;
    line-height: 35px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 35px;
}

.block.oldschool > .overlay {
    background-color: rgba(180, 178, 178);
    border: 3px solid rgb(221, 221, 221);
    box-shadow: 0px 0px 8px #000;
}
.block.oldschool > .overlay.active {
    background-color: rgb(143, 142, 142) !important;
    border: 3px solid rgb(161, 161, 161) !important;
}
.block.space {
    background-color: rgb(7, 1, 23);
    border: 1px rgb(49, 3, 87) solid !important;
}
.block.space > .overlay {
    background-color: rgb(39, 2, 81);
    background-image: url("../assets/meteor.png");
    background-size: 100% 100%;
}
.block.space > .overlay.active {
    background-color: rgb(187, 0, 255) !important;
    border: none !important;
}
.block.binary {
    border: 1px rgb(0, 99, 7) solid !important;
    background-color: rgb(5, 165, 2) !important;
}
.block.binary > .overlay {
    background-color: rgb(3, 209, 0);
}
.block.binary > .overlay.active {
    background-color: rgb(38, 255, 0) !important;
    border: none !important;
}
.block.binary .code-icon {
    color: black;
    font-size: 22px;
    margin-top: 9px;
}

.flag-icon {
    color: red;
}
.flag-usa-icon {
    color: red;
    font-size: 28px;
    transform: rotate(-30deg);
    margin-bottom: 27px !important;
    text-shadow: -1px -1px 1px blue, /* Top-left shadow */ 0 0 5px blue; /* General shadow */
}

.bomb-icon, .bug-icon {
    font-size: 22px;
    position: relative;
}
.bomb-icon {
    color: black;
    animation: bomb-animation 2s ease-in-out forwards;
    transform-origin: center;
}
.bug-icon { 
    color: #5b2810;
    animation: bug-animation 2s ease-in-out forwards;
    transform-origin: center;
}
.monster-icon {
    color: #ffcc66;
    z-index: 10 !important;
    position: relative;
    animation: monster-animation 2s ease-in-out forwards;
    transform-origin: center;
    text-shadow: 0 0 3px #000;
}

@keyframes bomb-animation {
    0% {
        transform: scale(1);
        color: black;
    }
    100% {
        transform: scale(1.5);
        color: red;
    }
}
@keyframes bug-animation {
    0% { transform: rotate(0deg) scale(1); }
    25% { transform: rotate(5deg) scale(1.1); }
    50% { transform: rotate(-5deg) scale(1.2); }
    75% { transform: rotate(5deg) scale(1.3); }
    100% { transform: rotate(0deg) scale(1.4); }
}
@keyframes monster-animation {
    0% { transform: rotate(0deg) scale(1); }
    25% { transform: rotate(5deg) scale(1.2); }
    50% { transform: rotate(-5deg) scale(1.5); }
    75% { transform: rotate(5deg) scale(6); }
    100% { transform: rotate(0deg) scale(20); }
}
/*
0% { transform: rotate(0deg); width: 100%; height: 100%; }
    25% { transform: rotate(5deg); width: 200%; height: 200%; }
    50% { transform: rotate(-5deg); width: 300%; height: 300%; }
    75% { transform: rotate(5deg); width: 500%; height: 500%; }
    100% { transform: rotate(0deg); width: 700%; height: 700%; }
    */

.content {
    font-weight: bold;
    font-size: 20px;
}