* {
    user-select: none;
}

hr {
    border: none !important;
    border-top: 1px solid rgb(122, 120, 120) !important;
    margin: 20px 0 !important;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-item-title {
    display: block;
    font-size: 30px;
}
.header-item-value {
    display: block;
    text-align: center;
    font-size: 25px;
}
#difficultySelect {
    background-color: #333;
    color: white;
    border: 1px white solid;
    padding: 5px;
}
#showGamesBtn {
    background-color: #333;
    color: white;
    border: 1px white solid;
    padding: 5px 10px;
}
#leaderboard {
    position: absolute;
    right: 0;
    margin: 20px;
    padding: 40px;
    z-index: 10;
    background-color: #333;
    white-space: nowrap;
}

#bord {
    margin: 20px;
    background-color: rgba(128, 128, 128, 0.674);
    display: inline-block;
    white-space: nowrap;
}

.block {
    display: inline-block;
    text-align: center;
    background-color: lightgrey;
    width: 40px;
    height: 40px;
    line-height: 35px;
    border: 1px rgb(178, 178, 178) solid;
}

.hidden-block {
    position: relative;
    z-index: 1;
    line-height: 35px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 35px;
    background-color: rgba(180, 178, 178);
    border: 3px solid rgb(221, 221, 221);
    box-shadow: 0px 0px 8px #000;
}

.flag-icon {
    color: red;
}

.bomb-icon {
    color: black;
    font-size: 22px;
    animation: bomb-animation 2s ease-in-out forwards;
    transform-origin: center;
    position: relative;
}

@keyframes bomb-animation {
    0% {
        transform: scale(1);
        color: black;
    }
    100% {
        transform: scale(1.5);
        color: red;
    }
}

.content {
    font-weight: bold;
    font-size: 20px;
}